@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
html {
  background-color: rgb(235, 235, 235);
}
@layer utilities {
  .container {
    margin-inline: auto;
  }
}
